<!DOCTYPE html>
<html lang="en" ng-app="myModule">

<head>
    <meta charset="UTF-8" />
    <title>NICE SHOE</title>
    <link rel="shortcut icon" type="image/png"
        href="/assets/images/z4754478488073_3d987c07976994288f3feae0cc9f3835_preview_rev_1.png" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/cart-hover.css" />

</head>
<style>
    .icon_close:hover {
        margin: 0px 5px;
    }

    @import "https://fonts.googleapis.com/css?family=Lato:300,400,700";
    @import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    .container-cart {
        background: rgb(255, 255, 255) none repeat scroll 0 0;
        /* border-radius: 3px;
    float: right;
    margin: 20px 0;
    padding: 20px;
    position: relative; */
        width: 320px;
        border: 0.5px solid rgb(245, 241, 241);
    }

    .shopping-cart {
        background: rgb(255, 255, 255) none repeat scroll 0 0;
        border-radius: 3px;
        float: right;
        margin: 20px 0;
        padding: 20px;
        position: relative;
        width: 320px;
    }

    .shopping-cart .shopping-cart-header {
        border-bottom: 1px solid rgb(232, 232, 232);
        padding-bottom: 15px;
    }

    .shopping-cart .shopping-cart-header .shopping-cart-total {
        float: right;
    }

    .shopping-cart .shopping-cart-items {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .shopping-cart .shopping-cart-items li {
        margin-bottom: 18px;
        display: flex;
        align-items: center;
    }

    .shopping-cart .shopping-cart-items img {
        margin-right: 10px;
    }

    .shopping-cart .shopping-cart-items .item-name {
        display: block;
        font-size: 13px;
        padding-top: 10px;
    }

    .shopping-cart .shopping-cart-items .item-price {
        color: rgb(99, 148, 248);
        font-size: 15px;
        padding-top: 5px;
        display: block;
    }

    .shopping-cart .shopping-cart-items .item-quantity {
        color: rgb(171, 176, 190);
        font-size: 13px;
        display: block;
        padding-top: 5px;
    }

    .shopping-cart::after {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(255, 255, 255);
        border-image: none;
        border-style: solid;
        border-width: 8px;
        bottom: 100%;
        content: " ";
        height: 0;
        left: 89%;
        margin-left: -8px;
        pointer-events: none;
        position: absolute;
        width: 0;
    }

    .cart-icon {
        color: rgb(81, 87, 131);
        float: left;
        font-size: 24px;
        margin-right: 7px;
    }

    .button {
        background: #7fad39 none repeat scroll 0 0;
        border-radius: 30px;
        box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
        color: rgb(255, 255, 255);
        display: block;
        font-size: 16px;
        margin: 25px 0 15px;
        padding: 12px;
        text-align: center;
        text-decoration: none;
    }

    .button_viewcart {
        background: rgb(255, 93, 93) none repeat scroll 0 0;
        border-radius: 30px;
        box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
        color: rgb(255, 255, 255);
        display: block;
        font-size: 16px;
        margin: 25px 0 15px;
        padding: 12px;
        text-align: center;
        text-decoration: none;
    }

    .button:hover {
        background: #90d626 none repeat scroll 0 0;
    }

    .button_viewcart:hover {
        background: rgb(255, 80, 70) none repeat scroll 0 0;
    }

    .clearfix::after {
        clear: both;
        content: "";
        display: table;
    }

    .container-cart {
        display: none;
    }

    .open-cart:hover .container-cart {
        display: block;
    }

    .custom-radio {
        display: flex;
        align-items: center;
        margin-right: 20px;
        /* Khoảng cách giữa radio button và label */
    }

    .custom-radio input[type="radio"] {
        margin-right: 5px;
        /* Khoảng cách giữa radio button và label */
    }

    .custom-radio label {
        font-weight: normal;
        /* Loại bỏ đậm */
        font-size: 16px;
        /* Điều chỉnh kích thước văn bản */
    }

    /* Thiết lập kiểu thanh cuộn */
    ::-webkit-scrollbar {
        width: 3px;
        /* Chiều rộng của thanh cuộn */
    }

    ::-webkit-scrollbar-thumb {
        background-color: #7fad39;
        /* Màu nền của thanh cuộn */
        border-radius: 20px;
        /* Bo tròn cạnh của thanh cuộn */
    }

    ::-webkit-scrollbar-track {
        background-color: #e2e9d7;
        /* Màu nền của phần track thanh cuộn */
    }

    .account-form {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px;
        top: 45px;
        right: 0;
        z-index: 999;
    }

    .account-hover:hover .account-form {
        display: block;
    }

    /* CSS để thay đổi màu nền khi click */
    li.account-hover a:active {
        background-color: #dcdcdc;
        /* Màu xám nhạt */
    }

    /* CSS để xóa chọn văn bản khi click (nếu có) */
    li.account-hover a:active,
    li.account-hover a:focus {
        outline: none;
    }
</style>

<body>
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="/img/language.png" alt="" />
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="#"><img
                                src="/assets/images/z4754468708043_e3218b27549165452a995a7d4cbe6705_preview_rev_1.png"
                                style="width: 125px" alt="" /></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li>
                                <a href="#/home">Trang chủ</a>
                            </li>
                            <li class="active">
                                <a href="#/shop">Sản phẩm</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li class="open-cart">
                                <a href="#/check-out"><i class="fa fa-shopping-bag"></i>
                                    <span>{{quantity_all.tongSoLuong}}</span></a>
                                <div class="container-cart" style="position: absolute; z-index: 9999; right: 70px;">
                                    <div class="shopping-cart" style="max-height: 270px;overflow-y: auto;">
                                        <div class="row" ng-repeat="product in products">
                                            <div class="col-md-4" style="margin-top: 5px; margin-bottom: 5px">
                                                <img width="300px" ng-src="{{product.tenimage}}"
                                                    alt="{{product.tensanpham}}" />
                                                <p style="font-size: 0.7em; margin: 0"></p>
                                                <hr />
                                            </div>
                                            <div class="col-md-8">
                                                <span style="font-size: 0.7em; margin: 0">{{product.tensanpham}}</span>
                                                <div ng-show="product.dongiakhigiam != null">
                                                    {{product.dongiakhigiam | number:0}}đ
                                                    <span style="text-decoration: line-through;color: crimson"><strike>
                                                            {{product.giaban | number:0}}đ <br></strike> </span>
                                                </div>
                                                <div ng-show="product.dongiakhigiam == null">
                                                    {{product.giaban | number:0}}đ
                                                </div>
                                                <p style="font-size: 0.7em; margin: 0">
                                                    Số lượng :{{product.soluong}}
                                                </p>
                                                <span class="icon_close" ng-click="deleteProduct(product.id)"></span>
                                                <hr />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-2">
                                            <span style="font-weight: bolder;margin-left: 30px;"
                                                class="main-color-text">Total:</span>
                                        </div>
                                        <div class="col-md-3">
                                            <span
                                                style="color: rgb(91, 80, 80); font-weight: bolder;margin-left: 30px;">{{totalAmount}}VNĐ</span>
                                        </div>
                                    </div>
                                    <a href="#/check-out" style="width: 80%; margin-left: 30px;" class="button">CHECK
                                        OUT</a>
                                </div>
                            </li>
                            <li class="account-hover" ng-controller="loginCutomController">
                                <div class="header__top__right__auth">
                                    <a href="#"><i class="fa fa-user">{{ loggedInUsername }}</i></a>
                                    <div class="account-form">
                                        <a href="#/dia-chi" class="d-flex align-items-center gap-2 dropdown-item"
                                            ng-if="isLoggedIn">
                                            <i class="fa fa-user fs-6"></i>
                                            <p class="mb-0 fs-3">Tài khoản của tôi</p>
                                        </a>
                                        <a href="#/don-hang" class="d-flex align-items-center gap-2 dropdown-item"
                                            ng-if="isLoggedIn">
                                            <i class="ti ti-list-check fs-6"></i>
                                            <p class="mb-0 fs-3">Đơn hàng</p>
                                        </a>
                                        <a href="#/login" class="d-flex align-items-center gap-2 dropdown-item"
                                            ng-if="!isLoggedIn">
                                            <i class="ti ti-list-check fs-6"></i>
                                            <p class="mb-0 fs-3">Đăng nhập</p>
                                        </a>
                                        <a ng-click="logout()" href="#"
                                            class="d-flex align-items-center gap-2 dropdown-item" ng-if="isLoggedIn">
                                            <i class="fa fa-sign-out fs-6"></i>
                                            <p class="mb-0 fs-3">Đăng xuất</p>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>






    <section class="featured spad">
        <div class="container">


            <div id="content" class="content-area page-wrapper" role="main">
                <div class="row row-main">
                    <div class="large-12 col">
                        <div class="col-inner">
                            <div class="row" id="row-333300674">
                                <div id="col-381038058" class="col small-12 large-12">
                                    <div class="col-inner">



                                        <div class="elementor-element elementor-element-7fade3f4 elementor-widget elementor-widget-theme-page-title elementor-page-title elementor-widget-heading"
                                            data-id="7fade3f4" data-element_type="widget"
                                            data-widget_type="theme-page-title.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-element elementor-element-7fade3f4 elementor-widget elementor-widget-theme-page-title elementor-page-title elementor-widget-heading"
                                                    data-id="7fade3f4" data-element_type="widget"
                                                    data-widget_type="theme-page-title.default">
                                                    <div class="elementor-widget-container">
                                                        <h1 class="elementor-heading-title elementor-size-large"
                                                            style="text-align: center;">HƯỚNG DẪN ĐẶT HÀNG</h1>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-decb7b7 elementor-widget elementor-widget-spacer"
                                                    data-id="decb7b7" data-element_type="widget"
                                                    data-widget_type="spacer.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-spacer">
                                                            <div class="elementor-spacer-inner">&nbsp;</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-7234e1e2 elementor-widget elementor-widget-theme-post-content"
                                                    data-id="7234e1e2" data-element_type="widget"
                                                    data-widget_type="theme-post-content.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor elementor-123349"
                                                            data-elementor-type="wp-page" data-elementor-id="123349">
                                                            <div class="elementor-inner">
                                                                <div class="elementor-section-wrap">
                                                                    <section
                                                                        class="elementor-section elementor-top-section elementor-element elementor-element-24b7eeb elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                                        data-id="24b7eeb" data-element_type="section">
                                                                        <div
                                                                            class="elementor-container elementor-column-gap-default">
                                                                            <div class="elementor-row">
                                                                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9ca2703"
                                                                                    data-id="9ca2703"
                                                                                    data-element_type="column">
                                                                                    <div
                                                                                        class="elementor-column-wrap elementor-element-populated">
                                                                                        <div
                                                                                            class="elementor-widget-wrap">
                                                                                            <div class="elementor-element elementor-element-f864e06 elementor-widget elementor-widget-heading"
                                                                                                data-id="f864e06"
                                                                                                data-element_type="widget"
                                                                                                data-widget_type="heading.default">
                                                                                                <div class="elementor-widget-container"
                                                                                                    style="padding: 20px;">
                                                                                                    <h2 class="elementor-heading-title elementor-size-medium"
                                                                                                        style="font-size: 1.5em;">
                                                                                                        ĐẶT HÀNG TRỰC
                                                                                                        TIẾP
                                                                                                        TẠI
                                                                                                        CỬA HÀNG</h2>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section
                                                                        class="elementor-section elementor-top-section elementor-element elementor-element-3753537 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                                        data-id="3753537" data-element_type="section">
                                                                        <div
                                                                            class="elementor-container elementor-column-gap-default">
                                                                            <div class="elementor-row">
                                                                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9012030"
                                                                                    data-id="9012030"
                                                                                    data-element_type="column">
                                                                                    <div
                                                                                        class="elementor-column-wrap elementor-element-populated">
                                                                                        <div
                                                                                            class="elementor-widget-wrap">
                                                                                            <div class="elementor-element elementor-element-221b9d2 elementor-widget elementor-widget-text-editor"
                                                                                                data-id="221b9d2"
                                                                                                data-element_type="widget"
                                                                                                data-widget_type="text-editor.default">
                                                                                                <div
                                                                                                    class="elementor-widget-container">
                                                                                                    <div class="elementor-text-editor elementor-clearfix"
                                                                                                        style="padding: 40px;">
                                                                                                        <p><strong>Địa
                                                                                                                chỉ:</strong>
                                                                                                            07 Trịnh Văn
                                                                                                            Bô
                                                                                                            –
                                                                                                            Bắc Từ Liêm
                                                                                                            – Hà
                                                                                                            Nội.<br><strong>Hotline:</strong>
                                                                                                            0362.885.775<br><strong>Thời
                                                                                                                gian làm
                                                                                                                việc:</strong>
                                                                                                            Thứ 2 – Chủ
                                                                                                            Nhật
                                                                                                            từ
                                                                                                            8h00 đến
                                                                                                            22h00.
                                                                                                        </p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section
                                                                        class="elementor-section elementor-top-section elementor-element elementor-element-3ef0c9a elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                                        data-id="3ef0c9a" data-element_type="section">
                                                                        <div
                                                                            class="elementor-container elementor-column-gap-default">
                                                                            <div class="elementor-row">
                                                                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-965904a"
                                                                                    data-id="965904a"
                                                                                    data-element_type="column">
                                                                                    <div
                                                                                        class="elementor-column-wrap elementor-element-populated">
                                                                                        <div
                                                                                            class="elementor-widget-wrap">
                                                                                            <div class="elementor-element elementor-element-ef86f42 elementor-widget elementor-widget-heading"
                                                                                                data-id="ef86f42"
                                                                                                data-element_type="widget"
                                                                                                data-widget_type="heading.default">
                                                                                                <div class="elementor-widget-container"
                                                                                                    style="padding: 20px;">
                                                                                                    <h2 class="elementor-heading-title elementor-size-medium"
                                                                                                        style="font-size: 1.5em;">
                                                                                                        MUA HÀNG ONLINE
                                                                                                        QUA
                                                                                                        WEBSITE</h2>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section
                                                                        class="elementor-section elementor-top-section elementor-element elementor-element-d096e65 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                                        data-id="d096e65" data-element_type="section">
                                                                        <div
                                                                            class="elementor-container elementor-column-gap-default">
                                                                            <div class="elementor-row">
                                                                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1f27326"
                                                                                    data-id="1f27326"
                                                                                    data-element_type="column">
                                                                                    <div
                                                                                        class="elementor-column-wrap elementor-element-populated">
                                                                                        <div
                                                                                            class="elementor-widget-wrap">
                                                                                            <div class="elementor-element elementor-element-2af4199 elementor-widget elementor-widget-text-editor"
                                                                                                data-id="2af4199"
                                                                                                data-element_type="widget"
                                                                                                data-widget_type="text-editor.default">
                                                                                                <div class="elementor-widget-container"
                                                                                                    style="padding: 40px;">
                                                                                                    <div
                                                                                                        class="elementor-text-editor elementor-clearfix">
                                                                                                        <p>3 bước mua
                                                                                                            hàng
                                                                                                            đơn
                                                                                                            giản qua
                                                                                                            website
                                                                                                            <i>NICESHOE.VN.</i>:
                                                                                                        </p>
                                                                                                        <p><strong>Bước
                                                                                                                1:</strong>
                                                                                                            Truy
                                                                                                            cập website
                                                                                                            <i>NICESHOE.VN.</i><br><strong>Bước
                                                                                                                2:</strong>&nbsp;Tìm
                                                                                                            kiếm sản
                                                                                                            phẩm
                                                                                                            cần
                                                                                                            mua, chọn
                                                                                                            size
                                                                                                            giày,
                                                                                                            số
                                                                                                            lượng.<br><strong>Bước
                                                                                                                3:</strong>&nbsp;Đặt
                                                                                                            hàng:<br>–
                                                                                                            Điền
                                                                                                            đầy
                                                                                                            đủ thông tin
                                                                                                            mua
                                                                                                            hàng theo
                                                                                                            yêu
                                                                                                            cầu.<br>–
                                                                                                            Chọn
                                                                                                            hình
                                                                                                            thức giao
                                                                                                            hàng.<br>–
                                                                                                            Nhấn đặt
                                                                                                            hàng để
                                                                                                            hoàn tất.
                                                                                                        </p>
                                                                                                        <p>Lưu ý: Đơn
                                                                                                            hàng
                                                                                                            của
                                                                                                            quý khách sẽ
                                                                                                            được xử
                                                                                                            lý trong
                                                                                                            vòng
                                                                                                            24h kể
                                                                                                            từ khi đặt
                                                                                                            hàng.
                                                                                                            Vui
                                                                                                            lòng giữ
                                                                                                            điện
                                                                                                            thoại
                                                                                                            ở chế độ
                                                                                                            chuông
                                                                                                            để
                                                                                                            nhân viên tư
                                                                                                            vấn
                                                                                                            thuận tiện
                                                                                                            liên
                                                                                                            lạc
                                                                                                            với quý
                                                                                                            khách.
                                                                                                        </p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                    <section
                                                                        class="elementor-section elementor-top-section elementor-element elementor-element-094fe1b elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                                        data-id="094fe1b" data-element_type="section">
                                                                        <div
                                                                            class="elementor-container elementor-column-gap-default">
                                                                            <div class="elementor-row">
                                                                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1ca4fa4"
                                                                                    data-id="1ca4fa4"
                                                                                    data-element_type="column">
                                                                                    <div
                                                                                        class="elementor-column-wrap elementor-element-populated">
                                                                                        <div
                                                                                            class="elementor-widget-wrap">
                                                                                            <div class="elementor-element elementor-element-38acf05 elementor-widget elementor-widget-text-editor"
                                                                                                data-id="38acf05"
                                                                                                data-element_type="widget"
                                                                                                data-widget_type="text-editor.default">
                                                                                                <div class="elementor-widget-container"
                                                                                                    style="padding: 20px;">
                                                                                                    <div
                                                                                                        class="elementor-text-editor elementor-clearfix">
                                                                                                        <p>Nếu quý khách
                                                                                                            có
                                                                                                            bất
                                                                                                            kì thắc mắc
                                                                                                            về
                                                                                                            sản
                                                                                                            phẩm hoặc
                                                                                                            chương
                                                                                                            trình khuyến
                                                                                                            mãi.
                                                                                                            Vui lòng
                                                                                                            liên hệ
                                                                                                            với
                                                                                                            chúng tôi
                                                                                                            qua
                                                                                                            hotline
                                                                                                            0362.885.875
                                                                                                            theo giờ làm
                                                                                                            việc
                                                                                                            dưới mục
                                                                                                            thông
                                                                                                            tin
                                                                                                            để nhận hỗ
                                                                                                            trợ
                                                                                                            sớm
                                                                                                            nhất.
                                                                                                            <i>NICESHOE.VN</i>
                                                                                                            không tiếp
                                                                                                            nhận
                                                                                                            cuộc
                                                                                                            gọi ngoài
                                                                                                            thời
                                                                                                            gian
                                                                                                            làm việc.
                                                                                                            Xin
                                                                                                            cảm
                                                                                                            ơn.
                                                                                                        </p>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </section>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>



                            </div>



                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Footer Section Begin -->
    <footer class="footer spad" style="background-color:white;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="#"><img
                                    src="/assets/images/z4754468708043_e3218b27549165452a995a7d4cbe6705_preview_rev_1.png"
                                    alt="" width="119px" /></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: 07 - Trịnh Văn Bô - Bắc Từ Liêm - Hà Nội</li>
                            <li>Phone: 0362.885.875</li>
                            <li>Email: niceshoepoly@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Dịch vụ khách hàng</h6>
                        <ul>
                            <li><a href="/src/customer/index-customer.html#/chinh-sach-van-chuyen">Chính sách vận chuyển
                                    và giao nhận</a></li>
                            <li><a href="/src/customer/index-customer.html#/chinh-sach-doi-tra">Chính sách đổi, trả và
                                    bảo hành</a></li>
                            <li><a href="/src/customer/index-customer.html#/chinh-sach-bao-mat">Chính sách bảo mật</a>
                            </li>
                            <li><a href="/src/customer/index-customer.html#/chinh-sach-xu-ly-khieu-nai">Chính sách xử lý
                                    khiếu nại</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Hỗ trợ</h6>
                        <ul>
                            <li><a href="/src/customer/index-customer.html#/huong-dan">Hướng dẫn đặt hàng</a></li>
                            <li><a href="/src/customer/index-customer.html#/hinh-thuc-thanh-toan">Hình thức thanh
                                    toán</a></li>
                            <li><a href="/src/customer/index-customer.html#/lien-he">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <style>
        .footer {
            font-family: 'Roboto', sans-serif;
            /* Chọn font chữ */
            color: #333;
            /* Màu chữ chính */
            background-color: white;
            /* Màu nền */

            /* Khoảng cách và định dạng khoảng cách */
            padding: 40px 0;
            margin-top: 20px;

            /* Định dạng đường viền (nếu cần) */
            border-top: 1px solid #ddd;
        }

        .footer ul {
            list-style: none;
            padding: 0;
        }

        .footer ul li {
            margin-bottom: 10px;
            /* Khoảng cách giữa các mục trong danh sách */
        }

        .footer a {
            text-decoration: none;
            color: #007bff;
            /* Màu chữ cho các liên kết */
        }

        .footer a:hover {
            text-decoration: underline;
            /* Gạch chân khi di chuột qua liên kết */
        }
    </style>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>