<style>
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    margin-right: 40px;
    margin-top: -20px;
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50px;
    transition: 0.3s;
  }

  input:checked+label {
    background: #bada55;
  }

  input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 130px;
  }

  tr.order_selected.ng-scope.selected {
    background-color: #c6eb34;
  }

  .selected {
    background-color: #bada55;
  }
</style>
<div class="card overflow-hidden" style="width: 1175px; margin-left: -13px">
  <div class="card-body p-4">
    <div class="row">
      <div class="col-lg-6">
        <h5 class="card-title mb-9 fw-semibold">Thông tin hóa đơn</h5>
      </div>
      <div class="col-lg-6" style="padding-left: 429px"></div>
      <div class="col-lg-6">
        <input class="form-control" style="width: 800px" placeholder="Tìm kiếm hóa đơn" ng-model="kyHoaDonTaiQuay"
          ng-change="searchOrder(kyHoaDonTaiQuay)" />
      </div>
      <div class="col-lg-6" style="padding-left: 300px">
        <button type="button" class="btn btn-primary" ng-click="createHoaDon()">
          Tạo hóa đơn
        </button>
        <button type="button" class="btn btn-warning" ng-click="lamMoiHoaDon()">
          Làm mới
        </button>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-lg-12">
        <div style="overflow-x: auto;">
          <span ng-if="listHoaDonTaiQuay.length === 0" style="margin-left: 465px;">Không có hóa đơn nào</span>
          <table class="table table-borderless table-hover" style="white-space: nowrap; width: 1125px"
            ng-if="listHoaDonTaiQuay.length !== 0">
            <thead>
              <tr style="background-color: lightskyblue">
                <th scope="col">STT</th>
                <th scope="col">Mã hóa đơn</th>
                <th scope="col">Nhân viên</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">Khách hàng</th>
                <th scope="col">Loại đơn</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr class="order" ng-repeat="hd in listHoaDonTaiQuay" ng-class="{ 'selected': hd.isSelected }">
                <td>{{$index + 1 + (pageNumber * pageSize)}}</td>
                <td>{{hd.maHoaDon}}</td>
                <td>{{hd.tenNhanVien}}</td>
                <td>{{hd.ngayTao | date:'MM/dd/yyyy - h:mm:ss a'}}</td>
                <td>{{hd.tenKhachHang}}</td>
                <td>{{hd.loaiDon}}</td>
                <td>{{hd.trangThai == 1 ? "Chờ thanh toán" : "Thành công"}}</td>
                <td>
                  <button class="btn btn-primary" ng-click="selectOrder(hd.id, hd.idKhachHang)">
                    Chọn
                  </button>
                  <button class="btn btn-danger" ng-click="deleteOrder(hd.id)">
                    Hủy
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-show="listHoaDonTaiQuay.length !== 0">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <div class="card overflow-hidden" style="width: 1175px; margin-left: -13px">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-lg-6">
                <h5 class="card-title mb-9 fw-semibold">
                  <span>Thông tin sản phẩm</span>
                  <p style="margin-left: 200px;margin-top:-20px;">
                    {{orderDetailCounter.maHoaDon}} - {{orderDetailCounter.ngayTao | date:'MM/dd/yyyy - h:mm:ss a'}}
                  </p>
                </h5>
              </div>
              <div class="col-lg-6 text-end" style="margin-top: -3px;">
                <button class="btn btn-primary me-4" ng-click="openVoucherModal()" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
                  Chọn sản phẩm
                </button>
                <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal-qrcode"><img
                    src="/assets/images/qr-code.png" width="40px" alt="" /></a>
                <div class="modal fade" id="exampleModal-qrcode" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-lg" style="width: 448px; margin-left: 600px">
                    <div class="modal-content custom-modal-content">
                      <div class="modal-header">
                        <span class="card-title fw-semibold">Quét mã QR</span>
                      </div>
                      <div class="modal-body">
                        <video id="preview"></video>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                          Đóng
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div ng-if="listCart.length === 0">
              <div class="text-center">
                <img src="/assets/images/empty_cart.png" alt="Empty Cart" class="mx-auto">
                <p class="mb-0 mt-3">Không có sản phẩm trong giỏ.</p>
              </div>
            </div>
            <div class="box" ng-if="listCart.length !== 0">
              <table class="table table-borderless" style="width: 1130px;">
                <thead>
                  <tr style="background-color: lightskyblue">
                    <th scope="col">STT</th>
                    <th scope="col">Ảnh</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Tổng tiền</th>
                    <th scope="col">Thao tác</th>
                  </tr>
                </thead>
                <tbody ng-repeat="lc in listCart" style="border: 1px solid #ccc">
                  <tr>
                    <th class="align-middle" scope="row">{{$index + 1 + (pageNumberSpTrongGio * pageSizeSpTrongGio)}}
                    </th>
                    <td class="align-middle">
                      <div class="d-flex justify-content-center align-items-center" style="height: 150px;">
                        <img src="/assets/ảnh giày/{{lc.image}}" alt="Ảnh sản phẩm" class="img-fluid" width="150px" />
                      </div>
                    </td>
                    <td class="align-middle" style="vertical-align: middle;">
                      <span>{{lc.tenSanPham}}</span>
                      <br />
                      <span>Size: {{lc.size}}</span>
                      <br />
                      <span>Chất liệu: {{lc.chatLieu}}</span>
                      <br />
                      <span>Màu sắc: {{lc.mauSac}}</span>
                    </td>
                    <td class="align-middle" style="vertical-align: middle;">
                      <div class="quantity">
                        <input style="width: 70px" type="number"
                          class="next-input text-left min-width-100px position-relative" ng-value="lc.soLuong" min="1"
                          ng-model="soLuong" ng-change="updateCart(lc.idGioHang, soLuong, lc.idSanPhamChiTiet)" />
                      </div>
                    </td>
                    <td class="align-middle" style="vertical-align: middle;">
                      <div ng-show="lc.giaBan != lc.giaGiam">
                        <span>{{lc.giaGiam.toLocaleString('vi-VN')}}đ</span>
                        <span><strike style="color: #dd2222">{{lc.giaBan.toLocaleString('vi-VN')}}đ</strike></span>
                      </div>
                      <div ng-show="lc.giaBan == lc.giaGiam">
                        <span> {{lc.giaBan.toLocaleString('vi-VN')}}đ</span>
                      </div>
                    </td>
                    <td class="align-middle" style="vertical-align: middle;">
                      <span>{{lc.tongTien.toLocaleString('vi-VN')}}đ</span>
                    </td>
                    <td class="align-middle" style="vertical-align: middle;">
                      <button class="btn btn-danger" ng-click="deleteProduct($index)">Xóa</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <nav aria-label="Page navigation example" style="margin-left: 520px" ng-if="listCart.length != 0">
              <ul class="pagination">
                <li class="page-item" ng-show="pageNumberSpTrongGio > 0">
                  <a class="page-link" href="" ng-click="previousPageSpTrongGio()"><img
                      src="/assets/images/chevron-left.svg" height="15px" alt=""></a>
                </li>
                <li class="page-item">
                  <a class="page-link">{{pageNumberSpTrongGio + 1}}</a>
                </li>
                <li class="page-item" ng-show="showNextButtonSpInCart">
                  <a class="page-link" href="" ng-click="nextPageSpTrongGio()"><img
                      src="/assets/images/chevron-right.svg" height="15px" alt=""></a>
                </li>
              </ul>
            </nav>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content custom-modal-content">
                  <div class="modal-header">
                    <span class="card-title mb-9 fw-semibold">Thêm sản phẩm</span>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-lg-8">
                        <input ng-model="searchKeyName" class="form-control" placeholder="Tìm kiếm sản phẩm" />
                      </div>
                      <div class="col-lg-4 d-flex justify-content-start">
                        <button ng-click="searchSanPham()" type="button" class="btn btn-primary">
                          Tìm kiếm
                        </button>
                        <button type="button" ng-click="lamMoiSanPhamTaiQuay()" class="btn btn-warning"
                          style="margin-left: 10px">
                          Làm mới
                        </button>
                      </div>
                    </div>
                    <br />
                    <div class="row text-center">
                      <div class="form-group col-md-3">
                        <span>Thương hiệu:</span>
                        <select style="color: green" class="custom-select" ng-model="brand" ng-change="filterBrand()">
                          <option value="">Tất cả</option>
                          <option ng-repeat="th in listThuongHieu" value="{{th.tenThuongHieu}}">
                            {{th.tenThuongHieu}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-md-3">
                        <span>Danh mục:</span>
                        <select style="color: green" class="custom-select" ng-model="locCategory"
                          ng-change="filterBrand()">
                          <option value="">Tất cả</option>
                          <option ng-repeat="dm in listDanhMuc" value="{{dm.tenDanhMuc}}">
                            {{dm.tenDanhMuc}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-md-3">
                        <span>Xuất xứ:</span>
                        <select style="color: green" class="custom-select" ng-model="locOrigin"
                          ng-change="filterBrand()">
                          <option value="">Tất cả</option>
                          <option ng-repeat="xx in listXuatXu" value="{{xx.tenXuatXu}}">
                            {{xx.tenXuatXu}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-md-3">
                        <span>Kiểu đế:</span>
                        <select style="color: green" class="custom-select" ng-model="locSole" ng-change="filterBrand()">
                          <option value="">Tất cả</option>
                          <option ng-repeat="kd in listKieuDe" value="{{kd.tenDe}}">
                            {{kd.tenDe}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <br />
                        <span>Màu sắc:</span>
                        <select style="color: green" class="custom-select" ng-model="locMauSac"
                          ng-change="filterBrand()">
                          <option value="">Tất cả</option>
                          <option ng-repeat="ms in listMauSac" value="{{ms.tenMauSac}}">
                            {{ms.tenMauSac}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <br />
                        <span>Size:</span>
                        <select style="color: green" class="custom-select" ng-model="locSize" ng-change="filterBrand()">
                          <option value="">Tất cả</option>
                          <option ng-repeat="s in listSize" value="{{s.size}}">
                            {{s.size}}
                          </option>
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <br />
                        <span>Chất liệu:</span>
                        <select style="color: green" class="custom-select" ng-model="locMaterial"
                          ng-change="filterBrand()">
                          <option value="">Tất cả</option>
                          <option ng-repeat="cl in listChatLieu" value="{{cl.tenChatLieu}}">
                            {{cl.tenChatLieu}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <br />
                    <div class="box">
                      <span ng-if="listSanPhamTaiQuay.length === 0" style="margin-left: 500px;">Không có sản phẩm
                        nào</span>
                      <table class="table table-borderless" ng-if="listSanPhamTaiQuay.length !== 0">
                        <thead>
                          <tr class="text-center" style="background-color: lightskyblue">
                            <th scope="col">STT</th>
                            <th scope="col">Ảnh</th>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Số lượng</th>
                            <th scope="col" style="width: 120px">Giá</th>
                            <th scope="col">Thao tác</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr style="border: 1px solid #ccc" class="text-center" ng-repeat="sptq in listSanPhamTaiQuay">
                            <td style="padding-top: 55px">
                              <span>{{$index + 1 + (pageNumberSp * pageSizeSp)}}</span>
                            </td>
                            <td>
                              <div class="d-flex justify-content-center ">
                                <img src="/assets/ảnh giày/{{sptq.imgage}}" alt="Ảnh sản phẩm" class="img-fluid "
                                  style="max-width: 100px; max-height: 100px" />
                              </div>
                            </td>
                            <td style="padding-top: 25px">
                              <span>{{sptq.tenSanPham}} <span>
                                  <br />
                                  <span>Size:</span>
                                  <span>{{sptq.size}}</span>
                                  <br />
                                  <span>Màu sắc:</span>
                                  <span>{{sptq.mauSac}}</span>
                                  <br />
                                  <span>Chất liệu:</span>
                                  <span>{{sptq.chatLieu}}</span>
                            </td>
                            <td style="padding-top: 55px">
                              <div class="quantity">
                                <input ng-model="soLuongSanPham" min="1" max="{{sptq.soLuong}}" type="number"
                                  class="next-input text-left min-width-100px position-relative quantity-decimal" />
                              </div>
                              <h6 style="margin-left: 0px; padding-top: 5px" ng-if="sptq.soLuong > 0">
                                <span>{{sptq.soLuong}} sản phẩm có sẵn</span>
                              </h6>
                            </td>
                            <td style="padding-top: 55px">
                              <small class="mb-0 text-muted h6" ng-show="sptq.giaGiamGia != sptq.giaBan">
                                <strong>
                                  <span class="text-danger">
                                    {{sptq.giaGiamGia < 0 ? 0: sptq.giaGiamGia.toLocaleString('vi-VN')}}đ </span>
                                      <strike class="text-danger">
                                        {{sptq.giaBan.toLocaleString('vi-VN')}}đ
                                      </strike>
                                </strong>
                              </small>
                              <small class="mb-0 text-muted h6" ng-show="sptq.giaGiamGia == sptq.giaBan">
                                <strong>
                                  <span class="text-danger">
                                    {{sptq.giaBan.toLocaleString('vi-VN')}}đ
                                  </span>
                                </strong>
                              </small>
                            </td>
                            <td style="padding-top: 55px" ng-if="sptq.soLuong > 0">
                              <button type="button" class="btn btn-primary"
                                ng-click="themSanPhamCart(sptq.idSanPhamChiTiet, soLuongSanPham)">
                                Thêm vào giỏ hàng
                              </button>
                            </td>
                            <td style="padding-top: 55px" ng-if="sptq.soLuong <= 0">
                              <span
                                style=" background-color: #cceeff; color: #fc5e03;padding: 4px 8px;border-radius: 4px;display: inline-block;">Đã
                                hết hàng
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <nav aria-label="Page navigation example" style="margin-left: 550px"
                    ng-if="listSanPhamTaiQuay.length != 0">
                    <ul class="pagination">
                      <li class="page-item" ng-show="pageNumberSp > 0">
                        <a class="page-link" href="" ng-click="previousPageSp()"><img
                            src="/assets/images/chevron-left.svg" height="15px" alt=""></a>
                      </li>
                      <li class="page-item">
                        <a class="page-link">{{pageNumberSp + 1}}</a>
                      </li>
                      <li class="page-item" ng-show="showNextButton">
                        <a class="page-link" href="" ng-click="nextPageSp()"><img src="/assets/images/chevron-right.svg"
                            height="15px" alt=""></a>
                      </li>
                    </ul>
                  </nav>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Đóng
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- modal sản phẩm -->
        </div>
      </div>
      <div class="card overflow-hidden">
        <div class="card-body p-4">
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <h5 class="card-title mb-9 fw-semibold">
                  <div class="col-lg-12">
                    <span>Thông tin khách hàng</span>
                    <p style="margin-left: 200px;margin-top:-20px;">
                      {{orderDetailCounter.maHoaDon}} - {{orderDetailCounter.ngayTao | date:'MM/dd/yyyy - h:mm:ss a'}}
                    </p>
                  </div>
                </h5>
                <div class="col-lg-6" style="margin-left: -175px">
                  <!--SHOW KHÁCH AND  Thêm khách -->
                  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content custom-modal-content">
                        <div class="modal-header card-title fw-semibold">
                          <span>Tìm kiếm khách hàng</span>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-lg-8">
                              <input ng-model="searchKeyword" class="form-control" placeholder="Tìm kiếm khách hàng" />
                            </div>
                            <div class="col-lg-4 d-flex justify-content-start">
                              <button ng-click="searchKhach()" class="btn btn-primary">
                                Tìm kiếm
                              </button>
                              <button type="button" ng-click="lamMoiKhachHang()" class="btn btn-warning"
                                style="margin-left: 10px">
                                Làm mới
                              </button>
                              <button style="margin-left: 10px" type="button" class="btn btn-danger"
                                data-bs-toggle="modal" data-bs-target="#exampleModal3">
                                Thêm khách hàng
                              </button>
                            </div>
                          </div>
                          <br />
                          <div class="box">
                            <span ng-if="listKhachHang.length === 0" style="margin-left: 465px;">Không có khách hàng
                              nào</span>
                            <table class="table table-borderless table-hover" ng-if="listKhachHang.length !== 0">
                              <thead>
                                <tr style="background-color: lightskyblue">
                                  <th scope="col">STT</th>
                                  <th scope="col">Tên khách hàng</th>
                                  <th scope="col">Email</th>
                                  <th scope="col">Số điện thoại</th>
                                  <th scope="col">Địa chỉ</th>
                                  <th scope="col">Thao tác</th>
                                </tr>
                              </thead>
                              <tbody ng-repeat="kh in listKhachHang">
                                <tr>
                                  <th scope="row">{{$index + 1}}</th>
                                  <td>{{kh.ten}}</td>
                                  <td>{{kh.email}}</td>
                                  <td>{{kh.soDienThoai}}</td>
                                  <td>
                                    {{kh.diaChi}}
                                  </td>
                                  <td>
                                    <button ng-click="updateKhachHang(kh.id)" type="button" class="btn btn-primary">
                                      Chọn
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <nav aria-label="Page navigation example" style="margin-left: 550px"
                            ng-if="listKhachHang.length != 0">
                            <ul class="pagination">
                              <li class="page-item" ng-show="showNextButtonKhach">
                                <a class="page-link" ng-click="previousPageKhach()"><img
                                    src="/assets/images/chevron-left.svg" height="15px" alt=""></a>
                              </li>
                              <li class="page-item">
                                <a class="page-link">{{pageNumberSp + 1}}</a>
                              </li>
                              <li class="page-item" ng-show="showNextButtonKhach">
                                <a class="page-link" ng-click="nextPageKhach()"><img
                                    src="/assets/images/chevron-right.svg" height="15px" alt=""></a>
                              </li>
                            </ul>
                          </nav>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Đóng
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content custom-modal-content" style="
                          width: 620px;
                          margin: auto;
                          margin-left: 80px;
                          height: 530px;
                        ">
                        <div class="modal-body">
                          <span style="font-size: 20px;">Thêm khách hàng</span>
                          <div class="row">
                            <div class="col-lg-12">
                              <span class="header-title"><span style="color: red">*</span>
                                <span>Họ và tên</span></span>
                              <span style="color: red">{{errorHoTen}}</span>
                              <input class="form-control" style="margin-bottom: 25px;" placeholder="Nhập họ tên khách"
                                ng-model="newKhachHang.hoTen" />
                            </div>
                            <div class="col-lg-12">
                              <span class="header-title"><span style="color: red">*</span>
                                <span>Số điện thoại</span></span>
                              <span style="color: red">{{errorSoDienThoai}}</span>
                              <input type="number" min="0" oninput="this.value = Math.max(0, this.value)"
                                ng-model="newKhachHang.soDienThoai" style="margin-bottom: 25px;" class="form-control"
                                placeholder="Nhập số điện thoại" />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12">
                              <span class="header-title"><span style="color: red">*</span>
                                <span>Email</span></span> <span style="color: red">{{errorEmail}}</span>
                              <input class="form-control" style="margin-bottom: 25px;" ng-model="newKhachHang.email"
                                placeholder="Nhập email" />
                            </div>
                            <div class="col-lg-12">
                              <span class="header-title"><span style="color: red">*</span>
                                <span>Ngày sinh</span></span>
                              <span style="color: red">{{errorNgaySinh}}</span>
                              <input type="date" style="margin-bottom: 25px;" ng-model="newKhachHang.ngaySinh"
                                class="form-control" />
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-12">
                              <span class="header-title"><span style="color: red">*</span>
                                <span>Địa chỉ</span></span>
                              <span style="color: red">{{errorDiaChi}}</span>
                              <input class="form-control" placeholder="Nhập địa chỉ" ng-model="newKhachHang.diaChi" />
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Đóng
                          </button>
                          <button type="button" class="btn btn-secondary" ng-click="createKhachHang()">
                            Thêm
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--SHOW KHÁCH AND  Thêm khách -->
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <h5 class="card-title mb-9 fw-semibold">
                <div class="row">
                  <div class="col-lg-6">Thông tin thanh toán</div>
                  <div class="col-lg-6">
                    <p style="margin-left: -56px">
                      {{orderDetailCounter.maHoaDon}} -
                      {{orderDetailCounter.ngayTao | date:'MM/dd/yyyy - h:mm:ss a'}}
                    </p>
                  </div>
                </div>
              </h5>
            </div>
          </div>
          <div class="layout-card--section">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <div style="margin-left: -30px;">
                    <div class="row">
                      <div class="col-lg-7">
                        <input type="text" disabled class="form-control hidden-input"
                          ng-value="orderDetailCounter.tenKhach" placeholder="Vui lòng chọn/tạo hóa đơn" />
                      </div>
                      <div class="col-lg-5">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-primary">
                          Chọn khách hàng
                        </a>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div ng-show="!showInput">
                    <div class="row">
                      <div class="col-lg-6">
                        <span style="margin-left: -30px" class="header-title"><span style="color: red">*</span>
                          <span>Họ và tên</span></span>
                        <input ng-model="orderDetailCounter.tenKhach" type="text" class="form-control hidden-input"
                          style="margin-left: -30px" placeholder="Nhập họ và tên khách" />
                        <span style="color: red;margin-left: -25px;">{{errorhoTen}}</span>
                      </div>
                      <div class="col-lg-6">
                        <span style="margin-left: -30px" class="header-title"><span style="color: red">*</span>
                          <span>Số điện thoại</span></span>
                        <input ng-model="orderDetailCounter.soDienThoai" type="text" min="0"
                          oninput="this.value = Math.max(0, this.value)" class="form-control hidden-input"
                          style="margin-left: -30px" placeholder="Nhập số điện thoại" />
                        <span style="color: red;margin-left: -25px;">{{errorsoDienThoai}}</span>
                      </div>
                    </div>
                    <span style="margin-left: -30px" class="header-title"><span style="color: red">*</span>
                      <span>Email</span></span>
                    <input ng-model="orderDetailCounter.email" type="text" class="form-control hidden-input"
                      style="margin-left: -30px" placeholder="Nhập email" />
                    <span style="color: red;margin-left: -25px;">{{erroremail}}</span>
                    <br>
                    <span style="margin-left: -25px" class="header-title"><span style="color: red">*</span>
                      <span>Địa chỉ</span></span>
                    <input ng-model="orderDetailCounter.diaChi" type="text" class="form-control hidden-input"
                      style="margin-left: -30px;" placeholder="Nhập địa chỉ" />
                    <span style="color: red;margin-left: -25px;">{{errordiaChi}}</span>
                  </div>
                </div>
                <div class="col-sm-6 col-12">
                  <div class="omni-layout-card--section-section">
                    <div class="omni-layout-card--item-stack-cover">
                      <div class="omni-layout-card--item-stack fill">
                        <div class="row">
                          <div class="col-lg-5" style="width: 150px;">
                            <span class="header-title">Khách thanh toán</span>
                          </div>
                          <div class="col-lg-7">
                            <button class="btn btn-outline-primary" ng-if="listCart.length !== 0" data-bs-toggle="modal"
                              data-bs-target="#exampleModal5" style="margin-left: 80px">
                              <img src="/assets/images/lending.png" width="25px" alt="" srcset="" />
                            </button>
                            <!-- thanh toán -->
                            <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel"
                              aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content custom-modal-content">
                                  <div class="modal-header">
                                    <span style="font-size: 20px;">Thanh toán</span>
                                  </div>
                                  <div class="modal-body">
                                    <div class="row">
                                      <div class="col-lg-1">
                                        <span style="padding-top: 10px">
                                          Số tiền
                                        </span>
                                      </div>
                                      <div class="col-lg-7">
                                        <input min="0" oninput="this.value = Math.max(0, this.value)"
                                          ng-model="newTransaction.soTien" class="form-control"
                                          placeholder="Nhập số tiền khách trả" type="number" format-thousands />
                                      </div>
                                      <div class="col-lg-4">
                                        <button class="btn btn-primary" style="margin-left: 0px"
                                          ng-click="createTransaction()">
                                          Tiền mặt
                                        </button>
                                        <button class="btn btn-primary" style="margin-left: 10px" ng-click="Vnpay(tienCuoiCungCuaDon + (tienGiao ? + tienGiao:0))">
                                          Chuyển khoản
                                        </button>
                                      </div>
                                    </div>
                                    <br />
                                    <div class="box">
                                      <span ng-if="listTransaction.length === 0" style="margin-left: 465px;">Không có
                                        thanh toán nào</span>
                                      <table class="table table-hover" ng-if="listTransaction.length !== 0">
                                        <thead>
                                          <tr style="
                                              background-color: lightskyblue;
                                            ">
                                            <th scope="col">STT</th>
                                            <th scope="col">Mã giao dịch</th>
                                            <th scope="col">Số tiền</th>
                                            <th scope="col">Phương thức</th>
                                          </tr>
                                        </thead>
                                        <tbody class="table table-borderless table-hover">
                                          <tr ng-repeat="lt in listTransaction">
                                            <th scope="row">{{$index + 1}}</th>
                                            <td>{{lt.maGiaoDinh}}</td>
                                            <td>{{lt.soTien.toLocaleString('vi-VN')}}đ</td>
                                            <td>
                                              {{lt.phuongThuc == 1 ? 'Tiền Mặt'
                                              : 'Chuyển khoản'}}
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                    <br />
                                    <div class="omni-layout-card--section-section">
                                      <div class="omni-layout-card--item-stack-cover">
                                        <div class="omni-layout-card--item-stack fill">
                                          <div class="row">
                                            <div class="col-lg-2" style="width: 150px;;">
                                              <span class="header-title">Khách thanh toán</span>
                                            </div>
                                            <div class="col-lg-3">
                                              <span class="header-title" style="color: #dd2222"
                                                ng-model="newTransaction.tienKhachTra">{{totalAmountPaid.toLocaleString('vi-VN')}}đ</span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="omni-layout-card--section-section">
                                      <div class="omni-layout-card--item-stack-cover">
                                        <div class="omni-layout-card--item-stack fill">
                                          <div class="row" ng-show="tienCuoiCungCuaDon > 0">
                                            <div class="col-lg-2" style="width: 150px;;">
                                              <span class="header-title">Tiền thiếu</span>
                                            </div>
                                            <div class="col-lg-3">
                                              <span class="header-title">
                                                {{ (tienCuoiCungCuaDon + (tienGiao ? + tienGiao
                                                :0)).toLocaleString('vi-VN')}}đ
                                              </span>
                                            </div>
                                          </div>
                                          <div class="row" ng-show="tienCuoiCungCuaDon <= 0">
                                            <div class="col-lg-2" style="width: 150px;;">
                                              <span class="header-title">Tiền thừa</span>
                                            </div>
                                            <div class="col-lg-3">
                                              <span class="header-title">
                                                {{ tienThuaTraKhach.toLocaleString('vi-VN')}}đ
                                              </span>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                      Đóng
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- thanh toán -->
                          </div>
                        </div>
                      </div>
                      <div class="omni-layout-card--item-stack fill text-right">
                        <span class="header-title"
                          style="color: #dd2222">{{totalAmountPaid.toLocaleString('vi-VN')}}đ</span>
                        <input hidden ng-model="requestData.tongTien" type="text" ng-value="totalAmountPaid" />
                      </div>
                    </div>
                  </div>
                  <div class="omni-layout-card--section-section">
                    <div class="omni-layout-card--item-stack-cover">
                      <div class="omni-layout-card--item-stack fill">
                        <div class="row">
                          <div class="col-lg-7">
                            <input disabled type="text" class="form-control" ng-model="voucherName" />
                          </div>
                          <div class="col-lg-5">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#voucher">
                              Chọn voucher
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="omni-layout-card--item-stack fill text-right"></div>
                    </div>
                    <!-- modal voucher -->
                    <div class="modal fade" id="voucher" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content custom-modal-content" style="width: 145%; margin-left: -140px">
                          <div class="modal-header">
                            <span class="card-title fw-semibold">Voucher</span>
                          </div>
                          <div class="modal-header" style="height: 50px">
                            <input class="form-control" style="margin-top: 20px" placeholder="Tìm kiếm voucher"
                              ng-model="keyVoucher" ng-change="searchVoucher()" />
                          </div>
                          <hr />
                          <div class="modal-body">
                            <span ng-if="listVoucher.length === 0" style="margin-left: 465px;">Không có voucher
                              nào</span>
                            <table class="table table-borderless table-hover" style=" width: 1104px"
                              ng-show="listVoucher.length !== 0">
                              <thead>
                                <tr style="background-color: lightskyblue">
                                  <th scope="col">STT</th>
                                  <th scope="col">Mã voucher</th>
                                  <th scope="col">Tên voucher</th>
                                  <th scope="col">Giá trị giảm</th>
                                  <th scope="col">Đơn tối thiểu</th>
                                  <th scope="col">Số lượng</th>
                                  <th scope="col">Thời gian</th>
                                  <th scope="col">Thao tác</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr ng-repeat="v in listVoucher" ng-if="v.priceOrder <= tongTienHang">
                                  <td>{{$index + 1}}</td>
                                  <td>{{v.voucherCode}}</td>
                                  <td>{{v.nameVoucher}}</td>
                                  <td>
                                    {{v.price.toLocaleString('vi-VN')}}{{v.style == 1 ? '%' :
                                    'đ'}}
                                  </td>
                                  <td>{{v.priceOrder.toLocaleString('vi-VN')}}đ</td>
                                  <td>{{v.soLuongDung}}/{{v.soLuong}}</td>
                                  <td>
                                    {{v.dateStart | date:'dd/MM/yyyy h:mm:ss
                                    a'}} - {{v.dateEnd | date:'dd/MM/yyyy
                                    h:mm:ss a'}}
                                  </td>
                                  <td>
                                    <button ng-click="updateOrderCounter(v.id)" class="btn btn-primary">
                                      Chọn
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <nav aria-label="Page navigation example" style="margin-left: 520px"
                            ng-if="listVoucher.length != 0">
                            <ul class="pagination">
                              <li class="page-item" ng-show="pageNumberVoucher > 0">
                                <a class="page-link" href="" ng-click="previousPageVoucher()"><img
                                    src="/assets/images/chevron-left.svg" height="15px" alt=""></a>
                              </li>
                              <li class="page-item">
                                <a class="page-link">{{pageNumberVoucher + 1}}</a>
                              </li>
                              <li class="page-item" ng-show="showNextButtonVoucher">
                                <a class="page-link" href="" ng-click="nextPageVoucher()"><img
                                    src="/assets/images/chevron-right.svg" height="15px" alt=""></a>
                              </li>
                            </ul>
                          </nav>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                              Đóng
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- modal voucher -->
                  </div>
                  <div class="omni-layout-card--section-section">
                    <div class="omni-layout-card--item-stack-cover">
                      <div class="omni-layout-card--item-stack fill">
                        <span class="header-title">Giao hàng</span>
                      </div>

                      <div class="omni-layout-card--item-stack fill text-right">

                        <input ng-click="toggleInput()" type="checkbox" id="switch" />
                        <label for="switch"></label>
                      </div>
                    </div>
                  </div>
                  <div class="omni-layout-card--section-section">
                    <div class="omni-layout-card--item-stack-cover">
                      <div class="omni-layout-card--item-stack fill">
                        <span class="header-title">Tiền hàng</span>
                      </div>
                      <div class="omni-layout-card--item-stack fill text-right">
                        <span class="header-title"
                          ng-model="newTransaction.tongTien">{{tongTienHang.toLocaleString('vi-VN')}}đ</span>
                      </div>
                    </div>
                  </div>
                  <div class="omni-layout-card--section-section" ng-show="!showInput">
                    <div class="omni-layout-card--item-stack-cover">
                      <div class="omni-layout-card--item-stack fill">
                        <span class="header-title">Phí vận chuyển</span>
                      </div>
                      <div class="omni-layout-card--item-stack fill text-right" style="margin-top: 5px;">
                        <input type="number" min="0" oninput="this.value = Math.max(0, this.value)" ng-model="tienGiao"
                          class="form-control hidden-input" placeholder="Nhập tiền vận chuyển"
                          ng-change="autoAddVoucher((tongTienHang - orderDetailCounter.tienGiamGia + (tienGiao ? + tienGiao :0)))" />
                        <span style="color: red">{{errortienGiao}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="omni-layout-card--section-section">
                    <div class="omni-layout-card--item-stack-cover">
                      <div class="omni-layout-card--item-stack fill">
                        <span class="header-title">Tiền giảm giá voucher</span>
                      </div>
                      <div class="omni-layout-card--item-stack fill text-right">
                        <span class="header-title">{{orderDetailCounter.tienGiamGia.toLocaleString('vi-VN') == null ?
                          "0" :orderDetailCounter.tienGiamGia.toLocaleString('vi-VN')}}đ</span>
                      </div>
                    </div>
                  </div>
                  <div class="omni-layout-card--section-section">
                    <div class="omni-layout-card--item-stack-cover">
                      <div class="omni-layout-card--item-stack fill">
                        <span class="header-title">Tổng tiền</span>
                      </div>
                      <div class="omni-layout-card--item-stack fill text-right">
                        <span class="header-title">{{(tongTienHang - orderDetailCounter.tienGiamGia +
                          (tienGiao ? + tienGiao :
                          0)).toLocaleString('vi-VN')}}đ</span>
                        <input hidden ng-model="requestData.tongTien" type="text" ng-value="tongTienHang" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-primary" style="margin-left: 900px; margin-top: 25px; font-weight: bold"
              ng-show="showInput && listCart.length != 0"
              ng-click="createHoaDonChiTiet((tongTienHang - orderDetailCounter.tienGiamGia + (tienGiao ? +tienGiao : 0)), totalAmountPaid, tienThuaTraKhach, orderDetailCounter.tenKhach,orderDetailCounter.sodienthoai, orderDetailCounter.diaChi)">
              Xác nhận thanh toán
            </button>
            <button ng-show="!showInput && listCart.length != 0" class="btn btn-primary"
              style="margin-left: 900px; margin-top: 20px; font-weight: bold"
              ng-click="createHoaDonChiTietGiao((tongTienHang - orderDetailCounter.tienGiamGia + (tienGiao ? +tienGiao : 0)), totalAmountPaid, tienThuaTraKhach)">
              Xác nhận đặt hàng
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>